.header{
  min-width: 100vw;
  max-width: 100vw;
  background-color: #9c27b0;
  color: #ffffff;

  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 100vw;
  position: fixed;

  margin: 0;
}

.mobile .header-title h1,
.tablet .header-title h1{
  font-size: 20px;
}

.header-bars{
  margin: 0px 30px;
}

.mobile .header-bars,
.tablet .header-bars {
  height: 50px;
  width: 50px;
  order: 2;
  cursor: pointer;
  display: inline-block;
  transition: all .8s ease-in-out;
}


.desktop .header-bars,
.laptop .header-bars,
.ultrawide .header-bars{
  display: none;
}


.mobile .header-search,
.tablet .header-search{
  background-color: #701b80;
  opacity: 0;
  padding: 24px;
  position: absolute;
  top: 80px;
  width: 100%;
  max-width: 100vw;
  text-align: center;
  transition: all .5s ease-in-out;
}

.mobile .header-search.active-menu,
.tablet .header-search.active-menu {
  opacity: 1;
  width: 100%;
}

.header .header-title{
  display: flex;
  align-items: center;
  margin: 0px 30px;
}

.header .header-title h1{
  margin-left: 10px;
}
.header .header-search{
  width: 40%;
}
.header .header-search .searchBar{
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  width: 70%;
}
.header .header-search .searchBar:focus{
  background-color: aliceblue;
  outline: transparent;
}

.header .header-search .searchButton{
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  outline: transparent;
  transition: all ease-in-out .2s;

  background-color: orangered;
  color: whitesmoke;
}

.header .header-search .searchButton:hover{
  background-color: crimson;
  color: whitesmoke;
}
.header .header-search .searchButton:focus{
  background-color: #a0112e;
  color: whitesmoke;
}
