.containerr{
  width: 90%;
  margin: 100px auto;
  background-color: #242424;
  
  border-radius: 30px ;
  color: whitesmoke;
}
.containerr .personagens{
  text-align: center;
}
.container hr{
  width: 95%;
  margin: 20px auto;
  color: black;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

