*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: blueviolet;
}

main {
  padding: 16px;
}

.App{
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  background-color: #323232;

  position: absolute;
}

